[submodule "zeta_areaseq"]
	path = zeta_areaseq
	url = git@github.com:VivianePons/zeta_areaseq.git
[submodule "SWeakOrder"]
	path = SWeakOrder
	url = https://github.com/VivianePons/SWeakOrder
[submodule "HDR-notebooks"]
	path = HDR-notebooks
	url = git@github.com:VivianePons/HDR-notebooks.git
[submodule "2024_ALEA"]
	path = 2024_ALEA
	url = git@github.com:VivianePons/2024_ALEA.git
[submodule "2024_Mumbai"]
	path = 2024_Mumbai
	url = git@github.com:VivianePons/2024_Mumbai.git
